
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #D7B520;
}

.kezdes {
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid #ddd;
    padding: 20px;
    background-color: #fff;
    border-radius: 25px;
}

header {
    text-align: center;
    background-color: grey;
    border-radius: 25px;
}

footer {
    text-align: center;
    background-color: gray;
    border-radius: 25px;
}

.oldalsav {
    width: 30%;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: rgb(0, 102, 255);
    color: white;
    border: 2px solid #ddd;
    float: left;
    border-radius: 25px;
}

.menu h2, .urlap h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.menu ul {
    list-style: none;
    padding: 0;
    color: white;
}

.menu li {
    margin-bottom: 10px;
    color: white;
}

.menu a {
    text-decoration: none;
    color: white;
}

.urlap p {
    font-size: 16px;
    margin-bottom: 10px;
}

form {
    font-size: 14px;
}

label, select, input[type="text"], input[type="email"], input[type="tel"], textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

input[type="radio"] {
    display: inline-block;
    margin-right: 5px;
}

textarea {
    resize: none;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.doboz {
    width: 30%;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ddd;
    float: right;
}

